body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 100vh;
}

.container {
  width: 100%;
  font-family: Quicksand;
  display: flex;
}

main {
  width: 1200px;
  box-sizing: border-box;
  padding: 30px 20px 0 50px;
}

main h1 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: bold;
  color: #0e1629;
}

.form-input-data {
  display: flex;
  margin-top: 60px;
}

.form-input-data table tr {
  padding-bottom: 50px;
}

.form-input-data td {
  font-weight: bold;
  font-size: 28px;
  border: none;
}

.form-input-data input,
select,
textarea {
  margin-left: 40px;
}

input {
  border-radius: 5px;
  width: 350px;
  padding: 8px 8px;
  box-sizing: border-box;
  font-family: Quicksand;
  font-size: 18px;
}

textarea {
  width: 350px;
  height: 150px;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: -15px;
  background-color: #f8f8f8;
  resize: none;
}

select {
  width: 350px;
  padding: 8px 8px;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Quicksand;
  font-size: 18px;
}

.input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}

.search {
  margin-top: 40px;
  display: flex;
}

.searchTerm {
  width: 300px;
  border: 3px solid #000000;
  border-right: none;
  padding: 5px;
  height: 33px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #000000;
}

.searchButton {
  margin-left: -5px;
  width: 40px;
  height: 36px;
  border: 1px solid #fea116;
  background: #fea116;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.list-product {
  width: 100%;
  margin-top: 25px;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.list-product table {
  width: 100%;
  text-align: center;
}

.list-product img {
  margin: 0;
  width: 50px;
  border-radius: 8px;
}

.list-product th,
td {
  border-bottom: 1px solid #ddd;
  padding: 10px 5px;
}

.list-product th {
  font-size: 22px;
  background-color: #fea116;
  color: white;
}

.list-product td {
  font-size: 20px;
  font-weight: bold;
}

.list-product a {
  text-decoration: none;
  color: black;
}

.list-product input {
  width: 80px;
}

.input-detail-user {
  margin-top: 20px;
  display: flex;
  justify-content: left;
  padding: 0;
  width: 100%;
}

.input-detail-user textarea {
  margin: 0;
  font-family: Quicksand;
  font-size: 15px;
}

.input-detail-user .telepon {
  margin-left: 30px;
}

.input-detail-user input {
  margin: 0;
  width: 300px;
  display: block;
}

.telepon button {
  width: 300px;
  margin-top: 40px;
}

aside {
  box-sizing: border-box;
  width: 360px;
  background-color: #0e1629;
  padding: 10px;
  color: white;
  min-height: 100vh;
}

aside i {
  margin-left: 20px;
}

aside .customer {
  width: fit-content;
  margin: 0;
}

aside .customer i {
  color: #fea116;
  margin: 0;
}

aside .customer a {
  margin-left: 5px;
  color: #fea116;
  text-decoration: none;
  font-weight: bold;
}

.user-info {
  text-align: center;
}

.user-info img {
  border-radius: 100%;
  border: 6px solid #fea116;
  margin-top: 30px;
}

.user-info #profile-nama {
  margin-top: 10px;
  font-weight: bold;
  color: #fea116;
  font-size: 25px;
}

.user-info #profile-role {
  margin-top: -15px;
}

.aside-menu {
  width: 90%;
  margin: auto;
  text-align: left;
  margin-top: 40px;
}

.aside-menu .menu {
  box-sizing: border-box;
  width: 100%;
  padding: 19px 0;
  background-color: #fea116;
  margin-bottom: 16px;
  border-radius: 20px;
  cursor: pointer;
  align-items: center;
}

.aside-menu .logout {
  background-color: white;
  color: black;
}

.aside-menu .menu:hover {
  background-color: #d48610;
}

.aside-menu .menu a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}

.content {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 95%;
}

.menu {
  width: 18%;
  margin-right: 19px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px 20px;
  border-radius: 9px;
  margin-bottom: 20px;
  position: relative;
}

.addCartButton {
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
}

.menu:hover {
  background-color: #ebebeb;
  transform: scale(1.01);
}

#nama-menu {
  font-size: 17px;
  font-weight: bolder;
}

#harga-menu {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 40px;
}

.menu img {
  width: 100%;
  border-radius: 20px;
}

.main-pesanan {
  display: flex;
  padding: 0;
  justify-content: space-between;
  width: 95%;
  flex-wrap: wrap;
}

.detail-pesanan {
  width: 48%;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px 20px;
  border-radius: 9px;
  margin-top: 20px;
}

.id-pesanan {
  background-color: #fea116;
  color: white;
  width: fit-content;
  padding: 1px 30px;
  border-radius: 10px;
  font-weight: bold;
}

.nama-pesanan {
  display: flex;
  justify-items: left;
}

.nama-pesanan p {
  margin-right: 10px;
  font-weight: bold;
  font-size: 17px;
}

#status-produk {
  color: green;
  font-weight: bold;
}



/* Button */
.submit-button {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.submit-button a {
  text-decoration: none;
  color: #fea116;
}

.submit-button:hover {
  background-color: #ffffff;
  text-decoration: none;
  transition-duration: 0.1s;
}

.submit-button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.submit-button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.submit-button:focus {
  outline: 1px transparent;
}

.submit-button:before {
  display: none;
}

.submit-button:-webkit-details-marker {
  display: none;
}

/* Slider */
.slider {
  width: 95%;
  display: flex;
  height: 300px;
}

.slider .box-left {
  width: 45%;
  background-color: #0e1629;
  padding: 2px 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-sizing: border-box;
}

.slider .box-left h1 {
  margin-top: 30px;
  font-family: Quicksand;
  color: #e8f9fd;
  font-size: 45px;
  color: #fea116;
}

.slider .box-left h1 span {
  font-family: Quicksand;
  font-size: 20px;
}

.slider .box-left p {
  font-family: Quicksand;
  font-size: 17px;
  color: white;
}

.slider .box-left p span {
  font-family: Quicksand;
  font-size: 30px;
  margin-left: -30px;
}

.slider .box-right {
  width: 55%;
  box-sizing: border-box;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

.slider .wrapper {
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%);
  }

  55% {
    transform: translateX(-200%);
  }

  75% {
    transform: translateX(-200%);
  }

  80% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(-300%);
  }
}

.slider img {
  width: 100%;
}

/* pagination */
.pagination {
  margin-top: 30px;
}

.pagination a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  background-color: white;
  border: 1px solid rgb(112, 112, 112);
  padding: 5px 10px;
}

/* navbar */
.navbar a {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

/* Detail Produk */
.detail-produk {
  margin-top: 60px;
  display: flex;
}

.detail-img img {
  width: 300px;
  margin: auto;
}

.detail-content {
  margin-left: 40px;
  padding: 0;
  font-weight: bold;
}

#detail-nama {
  font-size: 40px;
  margin: 0;
  color: #fea116;
}